<div class="header">
  <table>
    <tr>
      <td><img transform_attr="src" transform_value="images/rizon-cn.png" alt="rizon" title="rizon"/></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><div class="title">Rizon IRC Network</div><div>Rules</div></td>
    </tr>
  </table>
</div>
<div class="mainbody">
  <h3>Server Rules</h3>
  <p>
    *  No flooding<br />
    *  No bots<br />
    *  No clones<br />
    *  No spamming<br />
    *  No takeovers<br />
    *  We will not tolerate the distribution of child pornography.<br />
    *  Access granted to this server is a privilege.<br />
    *  Staff members may disconnect clients for any or no reason.
  </p>
  <h3>Disclaimer</h3>
  <p>The use of this server and network is a privilege, not a right.</p>
  <p>IRC is free media, therefore no person or entity involved with *.rizon.net takes any responsibility whatsoever for the opinions expressed or the actions taken by users. Absolutely no warranty is either expressed or implied.</p>

  <input type="submit" value="Close" class="close" />
</div>
